
:root{
    --bg-color: #f36f21;
    --text-color:#fff;
    --blue-color:#82c5e2;
    --fade-color:#908c8c;
    --header-height: 64px;
    --nav-width: 60px;
}


.Content {
    position: absolute;
    right:0;
    left: var(--nav-width);
    top: var(--header-height);
    max-width: calc(100% - var(--nav-width));
    min-height: 100%;
    background-color: #dadde1;
    
}
.Newfeed {
    margin: 0 auto;
    max-width: 790px;

}
/* header */
.Newfeed-header {
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    padding: 20px 0 10px;
    background-color: #fafafa;
    
}

.Newfeed-header-input {
    width: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Newfeed-header-quick-add {
    width: 100%;
    margin: 12px auto 10px;
    justify-content: space-around;
    display: flex;
    font-size: 20px;
    user-select: none;
}
.Newfeed-header-add-img i{
color: var(--bg-color);
}

.Newfeed-header-add-emotion i{
color: var(--bg-color);
}

.Newfeed-header-add-img i,
.Newfeed-header-add-emotion i {
    margin: 0 4px 0 0px;
}

  .Newfeed-header-add-img,
    .Newfeed-header-add-emotion {
        transition: linear 0.3s;
    }


    .Newfeed-header-add-img:hover,
    .Newfeed-header-add-emotion:hover {
       cursor: pointer;
       opacity: 0.8;
       transform: scale(1.1);
    }




/* body */
.Newfeed-body{
}
.Newfeed-body-post-container {
    background-color: #fff;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
}
.newfeed-info-poster{
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.newfeed-info-poster-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    border: 1px solid var(--bg-color);
    overflow: hidden;

}
.newfeed-info-poster-name {
    cursor: pointer;
    margin: 0;
}

.more-info-post-button {
    position: absolute;
    top:0px;
    right: 20px;
    font-size: 28px;
    color: #f36f21;
}
.more-info-post-button span{
    font-size: 28px;
    line-height: 10px;
}
.Newfeed-body-post-content-text {
    padding:10px;
    border-bottom: 1px solid var(--bg-color);
    margin-bottom: 10px;
}
.Newfeed-body-post-content-img {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px;
    border-bottom: 1px solid #9999;
}
.post-img{
    margin: 0 auto;
    max-height: 400px;
    object-fit: cover;
}
.Newfeed-body-post-content-reaction-quanlity {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid var(--bg-color);
}
.like-quanlity {
    user-select: none;
    font-weight: 600;
}
.like-quanlity i {
    color: red;
}

.comment-and-share-quanlity {
    user-select: none;
    display: flex;
}
.comment-quanlity{
font-weight: 600;
margin-left: 12px;
}

.share-quanlity{
font-weight: 600;
margin-left: 12px;
}

.Newfeed-body-post-content-reaction-button {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--bg-color);
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}



.Newfeed-body-post-content-reaction-button .like-icon{
color: red;
font-size: 24px;
margin-right: 4px;
}

.Newfeed-body-post-content-reaction-button span {
font-size: 16px;
font-weight: 600;

}
.Newfeed-body-post-content-reaction-button i {
    font-size: 24px;
}

.Newfeed-body-post-content-comment-area {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}
.Newfeed-body-post-content-comment-label {
  padding: 10px;
}
.Newfeed-body-post-content-comment-write-comment {
    height: 30px;
    width: 50%;
    outline: none;
    border: 1px solid var(--bg-color);
    border-radius: 12px;
    padding:0 10px ;
    margin-left: 40px;
}
.Newfeed-body-post-content-comment-box {
    max-height: 360px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.Newfeed-body-post-content-comment-box::-webkit-scrollbar{
   display: none;
}
.comment-section {
    display: flex;
    padding: 10px;
}
.commenter-avatar {
    width:38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.comment-detail {
    display: inline-block;
    background-color: #dadde1;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    margin-left: 12px;
    position: relative;
}
.commenter-name{
    display: block;
    font-weight: 600;
   margin-bottom: 5px;
    cursor: pointer;
}
.comment-img{
    max-width: 110px;
}
.comment-reaction {
    position: absolute;
    bottom: -24px;
    display: flex;
}
.comment-reaction span {
    color: var(--bg-color);
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    transition: linear 0.3s;
    display: block;
}
.comment-reaction span:hover {
    cursor: pointer;
    transform: scale(1.1);
}

