
:root{
    --bg-color: #f36f21;
    --text-color:#fff;
    --blue-color:#82c5e2;
    --fade-color:#908c8c;
    --header-height: 64px;
    --nav-width: 60px;
}


.Content-deadline {
    top: var(--header-height);
    max-width: calc(100% - var(--nav-width));
    position: relative;
    padding-bottom: 10px;
    right:0;
    left: var(--nav-width);
    display: flex;
    flex-direction: column;
    
    
}
.Deadline {
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1200px;

}
.deadline-status {
    width: 300px;
    margin:0 auto;
    text-align: center;
    font-size: 32px;
    color: var(--bg-color);
   border: 1px solid var(--bg-color);
   margin-top: 34px;
}
/* .student {
    width: 960px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

} */

.student-info-box {
    padding: 0 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    display: none;
}

.student-info {
    line-height: 3;
    display: flex;
   align-items: center;
}
.student-info-number,
.student-info-quanlity-deadline {
    font-weight: 700;
    display: flex;
} 
.student-info-number{
    justify-content: right;
    width: 100%;
}

.student-info-quanlity-deadline {
   font-size: 50px;
   line-height: 192px;
}


.student-info-number p{
    font-weight: 600;
    margin: 0 12px;
    color: var(--bg-color);
}
.student-info-quanlity-deadline p{
    font-size: 100px;
    font-weight: 600;
    color: red;
    margin: 0 40px;
}


.quick-add-deadline-btn {
    text-align: right;
    width: 100%;
    margin:  10px auto;
}

.Table-deadline {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #fafafa;
    padding: 0 10px;
}

/* newlayout */
.deadline-section {
    padding: 10px;
    margin-bottom: 6px;
    border-top: 1px solid var(--bg-color);
}

.title-deadline{
    padding: 12px 0;
    color: red;
    font-size: 22px;
    font-weight: 600;
    
}
.deadline-info-row{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 2px #333;
    

}
.deadline-creater-img {
    width: 60px;
    margin-right: 10px;
    width: 5%;
}

.deadline-name {
    width: 40%;
    font-weight: 600;
}

.deadline-note {
    width: 30%;
    font-weight: 600;
}

.deadline-date {
    width: 25%;
    font-weight: 600;
}



.deadline-attachment-row {
    padding: 10px ;
    font-size: 19px ;
    font-weight: 500;
    box-shadow: 0 1px 1px #999;
}

.title-deadline-and-btns {
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 14px;
}

.add-deadline-btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}
.open {
    display: flex;
}