
:root{
    --bg-color: #f36f21;
    --text-color:#fff;
    --blue-color:#82c5e2;
    --fade-color:#908c8c;
    --header-height: 64px;
    --nav-width: 60px;
}

.table_deadline {
   
    width: 600px;
}

.Content-deadline {

    top: var(--header-height);
    max-width: calc(100% - var(--nav-width));
    position: relative;
    padding-bottom: 10px;
    right:0;
    left: var(--nav-width);
    display: flex;
    flex-direction: column;
    align-content: center;
    
    
}
.Deadline {
    position: relative;
    right: 0;
    left: 0;
    margin-top: 25px;
    /* margin: 0 auto; */
    max-width: 1200px;

}
.deadline-status {
    width: 300px;
    margin:0 auto;
    text-align: center;
    font-size: 32px;
    color: var(--bg-color);
   border: 1px solid var(--bg-color);
   margin-top: 34px;
}
.student {
    width: 1200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.student-info-box {
    padding: 0 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    display: none;
}

.student-info {
width: 960px;
margin: 0 auto;
overflow: hidden;
}
.student-number {
    font-size: 18px;
    font-weight: bold;
    color: var(--bg-color);
    float: right;
    margin-top: 20px;
}

.student-quanlity-deadline {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.student-quanlity-deadline span {
    font-size: 58px;
    font-weight: bold;
}
.student-quanlity-deadline p {
    margin-left: 10px;
    font-size: 58px;
    color: red;
    font-weight: bold;
}

.student-info-number{
    justify-content: right;
    width: 100%;
}

.student-info-quanlity-deadline {
   font-size: 50px;
   line-height: 192px;
   justify-content: center;
}


.student-info-number p{
    font-weight: 600;
    color: var(--bg-color);
}
.student-info-quanlity-deadline p{
    font-size: 100px;
    font-weight: 600;
    color: red;
    margin: 0 40px;
}


.quick-add-deadline-btn {
    text-align: right;
    width: 100%;
    margin:  10px auto;
}

.Table-deadline {
    max-width: 1200px;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #fafafa;
    padding: 0 10px;
}

/* newlayout */
.deadline-section {
    padding: 10px;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px #ccc;
}

.title-deadline{
    padding: 12px 0;
    color: red;
    font-size: 22px;
    font-weight: 600;
    
}
.deadline-info-row{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 2px #333;
    

}
.deadline-creater-img {
    width: 60px;
    margin-right: 10px;
    width: 5%;
}

.deadline-name {
    width: 40%;
    font-weight: 600;
}

.deadline-note {
    width: 30%;
    font-weight: 600;
}

.deadline-date {
    width: 25%;
    font-weight: 600;
}



.deadline-attachment-row {
    padding: 10px ;
    font-size: 19px ;
    font-weight: 500;
    box-shadow: 0 1px 1px #999;
}

.title-deadline-and-btns {
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 14px;
}

.add-deadline-btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}
.open {
    display: flex;
}

/* deadline popup */

.modal-view-detail-deadline {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* display: none; */
}
.modal-view-detail-deadline-container {
    border-radius: 8px;
    background-color: #fff;
  height: 440px;
  width: 800px;
  padding: 10px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: grow linear 0.4s;

  
}
@keyframes grow {
    from{
        opacity: 0.5;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-view-detail-deadline-box-content {
    display: flex;
    
}

.modal-view-detail-deadline-attend {
    
}

.deadline-content-and-note-col {
width: 70%;
display: flex;
flex-direction: column;

}
.deadline-content-box {
    min-height: 250px;
}
.deadline-date-and-attachment-col {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.date-area {
    display: flex;
    flex-direction: column;
    min-height: 250px;

}

.date-display  {
 margin: 0;
 width: 50px;
 display: flex;
align-items: center;
margin-bottom: 10px;
}

.date-display p {
    min-width: 60px;
    font-weight: 500;
    font-size: 20px;
}

.modal-view-detail-deadline-attend {
    display: flex;
    justify-content: right;
}