
:root{
    --bg-color: #f36f21;
    --text-color:#fff;
    --blue-color:#82c5e2;
    --header-height: 64px;
    --nav-width: 60px;
    --fade-color: #DADDE1;
}

.DeadlinePage {
    position: relative;
   min-height: 100vh;;
    
}

.Deadline-container {
    width: 100%;
    min-height: 100vh;
    background-color:var(--fade-color);
}
.Content-deadline {
    background-color: #fff;
    top: var(--header-height);
    max-width: 1026px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    right:0;
    display: flex;
    flex-direction: column;
 padding: 0 10px;
    margin-top: 20px;
    border-radius: 20px;

    
    
}
.make_deadline_popup_table{
    width: 60%;
    transition: linear 0.5s;
}

.Deadline {
    position: relative;
    right: 0;
    left: 0;
    margin-top: 25px;
    /* margin: 0 auto; */
    max-width: 976px;

}
.deadline-status {
    width: 300px;
    margin:0 auto;
    text-align: center;
    font-size: 32px;
    color: var(--bg-color);
   border: 1px solid var(--bg-color);
   margin-top: 34px;
}
.student {
    width: 1200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.student-info-box {
    padding: 0 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    display: none;
}

.student-info {
width: 960px;
margin: 0 auto;
overflow: hidden;
}
.student-number {
    font-size: 25px;
    font-weight: bold;
    color: var(--bg-color);
    float: left;
    margin-top: 20px;
}

.student-quanlity-deadline {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.student-quanlity-deadline span {
    font-size: 58px;
    font-weight: bold;
}
.student-quanlity-deadline p {
    margin-left: 10px;
    font-size: 58px;
    color: red;
    font-weight: bold;
}

.student-info-number{
    justify-content: right;
    width: 100%;
}

.student-info-quanlity-deadline {
   font-size: 50px;
   line-height: 192px;
   justify-content: center;
}


.student-info-number p{
    font-weight: 600;
    color: var(--bg-color);
}
.student-info-quanlity-deadline p{
    font-size: 100px;
    font-weight: 600;
    color: red;
    margin: 0 40px;
}

.student-quick-add-deadline {
    width: 100%;
    margin: 0 auto;
}

.quick-add-deadline-btn {
    text-align: right;
    width: 100%;
    margin:  10px auto;
    margin-top: 15px;
}

.Table-deadline {
    max-width: 1200px;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #fafafa;
    padding: 0 10px;
}

/* newlayout */
.deadline-section {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #333;
    cursor:pointer;
}

.title-deadline{
    padding: 12px 0;
    color: red;
    font-size: 22px;
    font-weight: 600;
    
}
.deadline-info-row{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #333;
    margin-bottom: 10px;
    

}
.deadline-creater-img {
    width: 60px;
    margin-right: 10px;
    width: 5%;
}

.deadline-name {
    width: 30%;
    font-weight: 600;
    text-transform: capitalize;
}


.deadline-date {
    width: 25%;
    font-weight: 600;
    display: flex;
    justify-content: center ;
}
.deadline-note {
    text-transform: capitalize;

}


.deadline-attachment-row {
    font-size: 19px ;
    font-weight: 500;
    max-height: 80px;
    border-radius: 12px;
    overflow: hidden;
}

.attachment-background {
display: flex;
justify-content: left;
align-items: center;

}

.deadline-attachment-row .favicon {
    width: 30px;
    margin-right: 10px;
    
}

.background-attachment-link{
    width: 920px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
}

.attachment-content {
    font-weight: 600;
    font-size: 12px;
}

.attachment-provider {
    /* position: absolute;
    right: 10px;
    bottom: 10px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 12px;
    border-color: var(--bg-color);
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center; */
}

.title-deadline-and-btns {
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 14px;
}

.add-deadline-btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}
.open {
    display: flex;
}

/* deadline popup */

.modal-view-detail-deadline {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* display: none; */
}
.modal-view-detail-deadline-container {
    border-radius: 8px;
    background-color: #fff;
  height: 550px;
  width: 800px;
  padding: 10px 20px; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  animation: grow linear 0.4s;
  transition: linear;

  
}
@keyframes grow {
    from{
        opacity: 0.5;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-view-detail-deadline-box-content {
    display: flex;
    
}

.modal-view-detail-deadline-attend {
    
}

.deadline-content-and-note-col {
width: 70%;
display: flex;
flex-direction: column;

}
.deadline-content-box {
    min-height: 250px;
}
.deadline-date-and-attachment-col {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.date-area {
    display: flex;
    flex-direction: column;
    min-height: 250px;

}

.date-display  {
 margin: 0;
 width: 50px;
 display: flex;
align-items: center;
margin-bottom: 10px;
}

.date-display p {
    min-width: 60px;
    font-weight: 500;
    font-size: 20px;
}

.modal-view-detail-deadline-attend {
    display: flex;
    justify-content: right;
}

.deadline_label {
    color: var(--bg-color);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.deadline-popup-avatar-and-btn {
    width: 130%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.deadline-popup-add-people-btn {
    position: relative;
  cursor: pointer;
   
}

.deadline-popup-add-people-btn:hover .deadline-popup-add-people-btn-title {
  display: block;
  cursor: pointer;
}

.deadline-popup-add-people-btn-title {
    position: absolute; 
    left:24px;
    top :0px;
    width: 150px;
    box-shadow: 0 0 1px #999;
    padding: 5px;
    border-radius: 4px;
    display: none;
    user-select: none;
}

.deadline-popup-group-avt {
    
    display: flex;
    max-width: 374px ;
    height: 30px;

}


.note-link-attachment{
    
    position: relative;
    display: flex;
    align-content: flex-end;
    
    height: 32px;
    max-width: 100%;
}

.deadline-popup-group-avt .group-avt {
  
    display: flex;
    flex-wrap: wrap;
}
.todo-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fafafa;
}

.todo-header {
    font-size: 28px;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 10px;
}

.todo-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px #333;
    padding: 10px;
    border-radius: 4px;
    width: 100vh;
}

.todo-info-row {
    width: 100%;
    display: flex;
    padding: 0 0 10px 0;
    align-items: center;
    justify-content: space-between;
}

.todo-attachment-row {
    display: flex;
}

.todo-attachment-info {
  width: 820px;    
}

.todo-attachment-status {
     width: 100px;    

    /* width: 100px; */
    height: 80px;
    line-height: 80px;  
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.done {
    background-color:rgb(71, 187, 71)
}

.Not-yet {
    background-color: rgb(190, 33, 33);
}

.emberlink-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    width: 456px;
    margin-top: 20px;
    padding-top: 5px ;
    transition: linear 0.2s;
    animation: appear linear 0.2s;
    transform-origin:top right;
    border-radius: 4px;
}

.emberlink-block:hover {
    border: 1px solid var(--bg-color);
    cursor: text;

}

.emberlink {
     flex: 1;
     outline: none;
     border: none;
     padding-bottom:10px ;
     
     border-bottom-left-radius: 3px;
}

.copy-emberlink-btn {
    width: 60px;
    height: 32px;
    border: 1px solid #333;
    text-align: center;
    line-height: 32px;
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
   
  }
  to {
    transform: scale(100%);
   opacity: 1;
  }
}

.make-seo-block {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.provider-name {
    margin-left: 10px;
    font-weight: 600;
    z-index: 200;
}

.bg-img-provider {
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
    

}

.note-and-attachment-deadline {
    display: flex;
    flex-direction: column;
        width: 40%;
        font-weight: 600;
    
    
}

