.Receive-deadline {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoadingButtonReceive{
display: flex;
justify-content: center;
align-content: center;
max-width: 100vh;
max-height: 100vh;


}


.Receive-deadline-container {
    width: 600px;
    height: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.receiver-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.receive-conttent {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.receive-note {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;

}

.receive-footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}